.carrito{
    
   
    height: auto;
    /* background: #61c0c081;*/
    background: #bde5ce;
    border-color: #aca9a998;
    border: 1px solid;
    align-content: flex-end;
    float: right;
    
   
}
.books{
    float: left;
    width: 100px;
    height: auto;
     margin-right: 50%;
}
section {   
     overflow:hidden; } 

.carrito h5{
    text-align: right;
}

