<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-header">Mapa de Vendedores y Distribuidores</h5>

                  <agm-map [latitude]="lat" [longitude]="lng"
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)"
                      >
                        <agm-marker
                        *ngFor="let m of markers; let i = index"
                        (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.label"
                        [iconUrl]="m.iconUrl"
                        (dragEnd)="markerDragEnd(m, $event)"

                        >
                        <agm-info-window>
                                <strong>{{m.label}}</strong>
                                {{m.lat}}
                                {{m.lng}}
                       
                               </agm-info-window>
                         </agm-marker>
                  
                   </agm-map>

     <footer class="blockquote-footer"> © 2019, Dev-Thinking.com, Inc. o afiliados. Todos los derechos reservados.</footer>

</div>
</div>