
<mat-card [@fallIn]='state'>  
    <mat-card-title>
        Sobre Nosotros
    </mat-card-title>
    <mat-card-content class="mat-typography">
        
            <p>
            Online Store te ofrece una variedad de galletas de distintas marcas y tipos que son asequibles a todos los bolsillos.
            </p>

            <p>
            Todo lo que encontrarás en esta tienda en línea, son productos que han sido seleccionados para que sean tu acompañante en las meriendas diarias y recreos de los mas pequeños.
            </p>
            Deseamos sean de tu agrado y ganen tu confianza para mantener una relación a largo plazo.
            <br>
            <br>
            ¡Feliz compra! 😀
            
    </mat-card-content>

   
    </mat-card>
    
    
    