
<mat-card [@fallIn]='state'>  
    <mat-card-title>
        Página del Administrador
    </mat-card-title>
    <mat-card-content>
        
        
           
            <p>Está es la página de Administrador.</p>
            <p>En ella tendrás poder total de la página web.</p>
            <p>Por motivos de seguridad, tendrás que acceder con tu cuenta y contraseña a cada página que desees entrar.</p>
           <p>Saludos.</p>
            <p>Equipo de desarrollo "Dev - Thinking".</p>
    </mat-card-content>
    </mat-card>
    
    
    