<section class="row mt-5">
    <div class="col">
      <h2 class="card-header">Vendedores</h2>
      <br>

      <div class="form-group">
      
        <button class="btn btn-primary float-right mb-3" routerLink="/workers">Nuevo Vendedor</button>
      
      </div>

      <table class="table table-hover">
        <thead>   
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>

            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Longitud</th>
            <th scope="col">Latitud</th>
            
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let book of books; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{book.id}}</td>

            <td>{{book.nombre}}</td>
            <td>{{book.apellido}}</td>
            <td>{{book.email}}</td>
            <td>{{book.telf}}</td>
            <td>{{book.longitud}}</td>
            <td>{{book.latitud}}</td>
            

              <td>
                <button type="button"class="btn btn-primary float-right mb-3"  routerLink="/asignar" (click)="onPreUpdateBook(book)" >Asignar Distribuidor</button>

              </td>
              <td>
                <button class="btn btn-secondary" 
                (click)="onPreUpdateBook(book)" routerLink="/uploadw">Actualizar</button>
              </td>
           
            
            <td>
              <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Eliminar</button>
            </td>

           
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  