<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/addbook"(click)="onToggleClose()"> 
        <mat-icon>shop</mat-icon>
        <span> Productos</span>
    </a>
    <a mat-list-item routerLink="/google"(click)="onToggleClose()"> 
        <mat-icon>map</mat-icon>
        <span>Mapas</span>
    </a>
    <a mat-list-item routerLink="/list"(click)="onToggleClose()"> 
        <mat-icon>assignment_ind</mat-icon>
        <span>Vendedores</span>
    </a>
    <a mat-list-item routerLink="/dist"(click)="onToggleClose()"> 
        <mat-icon>contacts</mat-icon>
        <span>Distribuidores</span>
    </a>
    <a mat-list-item routerLink="/carrito"(click)="onToggleClose()"> 
        <mat-icon>shopping_cart</mat-icon>
        <span>Ventas</span>
    </a>
    <a mat-list-item routerLink="/contactos"(click)="onToggleClose()"> 
        <mat-icon>help</mat-icon>
        <span>Asistencia al usuario</span>
    </a>

</mat-nav-list>
  