<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/home"(click)="onToggleClose()">
        <mat-icon>house</mat-icon>
        <span>Inicio</span>
    </a>
    <a mat-list-item routerLink="/cookies"(click)="onToggleClose()">
        <mat-icon>products</mat-icon>
        <span>Galletas</span>
    </a>
    <a mat-list-item routerLink="/carritoNuevo"(click)="onToggleClose()">
        <mat-icon>products</mat-icon>
        <span>Carrito</span>
    </a>
    <a mat-list-item routerLink="/aboutus"(click)="onToggleClose()">
        <mat-icon>products</mat-icon>
        <span>Sobre Nosotros</span>
    </a>
    <a mat-list-item routerLink="/contacto"(click)="onToggleClose()">
        <mat-icon>products</mat-icon>
        <span>Atención al Cliente</span>
    </a>
    <a mat-list-item routerLink="/login"(click)="onToggleClose()">
        <mat-icon>products</mat-icon>
        <span>Regístrate</span>
    </a>


</mat-nav-list>
