<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">

          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
                <!--FUENTE DEL REGISTRO-->
                <h1 class="h3 mb-3 font-weight-normal">Registro</h1>

                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{msgError}}
                </div>


                <!--EMAIL-->

                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8">
                </div>

                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div class="container-error-message" *ngIf="email.errors.required">
                    Campo requerido.
                  </div>
                  <div class="container-error-message" *ngIf="email.errors.required">
                    Email must be at least 8 characters.
                  </div>
                </div>

                <!--PASSWORD-->
                <div class="form-group">

                  <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password" [(ngModel)]="password"
                    required minlength="5" maxlength="10">

                  <small id="passwordHelpBlock" class="form-text text-muted">
                    La contraseña debe tener mínimo 8 caracteres de longitud.
                  </small>
                </div>

                <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div class="container-error-message" *ngIf="password.errors.required">
                    Campo requerido.
                  </div>
                  <div class="container-error-message" *ngIf="password.errors.required">
                    Password must be at least 8 characters.
                  </div>
                </div>


                <button type="submit" class="btn btn-lg btn-primary btn-block" mat-raised-button color="primary">
                  Registro
                </button>
                <div class="form-group">
                  <a routerLink="/login" class="form-control login-user">¿Tienes una cuenta? Registrate</a>
                </div>
                <div class="form-group">

                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                    <span class="fa fa-facebook"></span>
                    FACEBOOK
                  </button>

                  <button href="#" class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                    <span class="fa fa-google"></span>
                    GOOGLE
                  </button>

                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>