<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- BOTON DE DESPLAZAMIENTE ANGULAR MATERIAL -->
    <div>
        <button mat-icon-button (click)="onToggleOpenSideNav()">
          <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- TITULO DE LA APP -->
      <a class="navbar-brand" href="#">{{app_name}}</a>
      <!-- {%FOOTER_LINK} -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" routerLink="/user/register">R
              </a>
            </li>
            LOGGED: {{isLogged}}
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
 
      <ul class="navbar-nav ml-auto">
          
      <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/registro">Registro
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/profile">Perfil</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/admin/list-books">Carrito</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/login">Ingresar
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a href="#" class="nav-link" (click)="onLogout()">Salir 
          </a>
        </li>
      </ul>
  
      
     

    </div>
  </nav>






 