<div class="form-container">
    <h1>Envíenos un mensaje</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
      <input type="text" formControlName="name" placeholder="Ingrese su nombre">
      <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
        <div class="container-error-message" *ngIf="name.errors.required">
          Campo requerido.
        </div>
        
      </div>
  
      <input type="text" formControlName="email" placeholder="Ingrese su email">
  
      <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="container-error-message" *ngIf="email.errors.required">
          Campo requerido.
        </div>
        
        <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
          Value has to be a valid email address.
        </div>
      </div>
      <textarea formControlName="message" placeholder="Ingrese su mensaje"></textarea>
      <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
        <div class="container-error-message" *ngIf="message.errors.required">
          Campo requerido.
        </div>
        <div class="container-error-message" *ngIf="message.errors.minlength">
          Message must be at least 10 characters long.
        </div>
      </div>
      <button type="submit" class="btn-send" [disabled]="!contactForm.valid">Send</button>
    </form>
  </div>