<section id="login" class="mb-5 mt-5">

<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
             <div class="card">
                    <h5 class="card-header">Envienos un mensaje</h5>

               <div class="card-body text-center">
                    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
                        <div class="form-group">     
                                <label for="exampleInputEmail1">Nombre</label>
      
                             <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
                        </div>            
                        <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                             <div class="container-error-message" *ngIf="name.errors.required">
                                            Campo requerido.
                             </div>

                       </div>

                        <div class="form-group">
                                <label for="exampleInputEmail1">Correo Electrónico</label>

                            <input type="email" formControlName="email" class="form-control" placeholder="Ingrese su email">
                        </div>
        
        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="container-error-message" *ngIf="email.errors.required">
                Campo requerido.
            </div>

            <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                Tiene que ser una dirección válida de correo electrónico.
            </div>
        </div>
        
        <div class="form-group">
                <label for="exampleInputEmail1">Mensaje</label>

                <input type="text" formControlName="message" class="form-control" placeholder="Ingrese su mensaje">
        </div>

        <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
            <div class="container-error-message" *ngIf="message.errors.required">
                Campo requerido.
            </div>
            <div class="container-error-message" *ngIf="message.errors.minlength">
                    El mensaje debe tener 10 carácteres.
            </div>
        </div>
       
        <button type="submit" class="btn btn-lg btn-primary btn-block" mat-raised-button color="primary"  [disabled]="!contactForm.valid">Send</button>
        <footer class="blockquote-footer"> © 2019, Dev-Thinking.com, Inc. o afiliados. Todos los derechos reservados.
                <cite title="Source Title">Atención al cliente</cite></footer>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>