<section class="row mt-5">
    <div class="col">          
        <h2 class="card-header">Distribuidores</h2>
      <br>

      <button class="btn btn-primary float-right mb-3" 
      routerLink="/distribuidores">Nuevo Distribuidor</button>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">País</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Longitud</th>
            <th scope="col">Latitud</th>
           
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let book of books; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{book.nombre}}</td>
            <td>{{book.correo}}</td>
            <td>{{book.pais}}</td>
            <td>{{book.telefono}}</td>
            <td>{{book.longitud}}</td>
            <td>{{book.latitud}}</td>
            


            
              <td>
                <button class="btn btn-secondary"(click)="onPreUpdateBook(book)"routerLink="/actualizar">Actualizar</button>
              </td>
           
            
            <td>
              <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Eliminar</button>
            </td>

           
          </tr>
        </tbody>
      </table>
    </div>
   
  </section>
