
 <!--div class="wrapper">
  <mat-form-field [floatLabel]="'never'"
                  class="search-bar"
                  color="accent">
    <input type="search"
           placeholder="Search product..."
           [ngModel]="searchText"
           (ngModelChange)="onSearch($event)"
           matInput>
  </mat-form-field>
</div-->

      <section id="books" class="mt-5">
          <div class="container">
            
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
                <div class="card_book">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img class="img-fluid" src="{{book.portada}}" alt="{{book.nombre}}"routerLink="/galleta/{{book.id}}">
                      </p>
                      <h4 routerLink="/galleta/{{book.id}}" class="card-title">{{book.nombre}}</h4>
                      <p class="card-text" routerLink="/galleta/{{book.id}}">
                        {{book.descripcioncorta}}
                      </p>
                      
                      <div class="card-footer">

                        <span class="left"><strong>{{ book.precio }}</strong>  Bs.</span>
                        <span class="right">
                          {{book.peso}}
                        </span>

                      <!--<button type="submit" class="btn btn-block btn-primary" target="_blank" (click)="addCarrito(book)">Buy</button>-->
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
          </div>
        </section>
        <br><br>
  