<mat-sidenav-container>
  <mat-spinner *ngIf="appService.loading$ | async"></mat-spinner>
    <mat-sidenav #sidenav>
        <app-navbar (closeSideNavigation)="sidenav.close()">

        </app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header (SideNavigationToggle)="sidenav.toggle()">

        </app-header>
        <app-nav-tabs></app-nav-tabs>
        <main>
                <router-outlet> </router-outlet>
        </main>
    </mat-sidenav-content>

</mat-sidenav-container>
