<div class="navtabs-container">
   <nav mat-tab-nav-bar  mat-align-tabs="center" fxFlex fxLayout fxLayoutAlign="center center" style="background-color:#bde5ce;">

    <a mat-tab-link routerLink="/"
    routerLinkActive #home="routerLinkActive"
    [active]="home.isActive" class="fa fa-home" aria-hidden="true">
     Inicio
    </a>

    <a mat-tab-link routerLink="/cookies"
    routerLinkActive #configuraciones="routerLinkActive"

    [active]="configuraciones.isActive" class="fa fa-shopping-basket" aria-hidden="true"> 
      Nuestros Productos
    </a>
    
    <a mat-tab-link routerLink="/carritoNuevo"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive" class="fa fa-shopping-cart">
      Carrito 
    </a>
    <a mat-tab-link routerLink="/contacto"
    routerLinkActive #contacto="routerLinkActive"
    [active]="contacto.isActive" class="fa fa-envelope" aria-hidden="true">
      Contacto
    </a>
  </nav>

</div>
