<div class="navtabs-container">
   <nav mat-tab-nav-bar  mat-align-tabs="center" fxFlex fxLayout fxLayoutAlign="center center" style="background-color:#bde5ce;">

    <a mat-tab-link routerLink="/"
    routerLinkActive #home="routerLinkActive"
    [active]="home.isActive">
    Home
    </a>

    <a mat-tab-link routerLink="/addbook"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive">
    Listar Productos
    </a>
    <a mat-tab-link routerLink="/cookies"
    routerLinkActive #configuraciones="routerLinkActive"

    [active]="configuraciones.isActive"> 
      Nuestros Productos
    </a>

    <a mat-tab-link routerLink="/registro"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive">
    Registro
    </a>
    <a mat-tab-link routerLink="/contacto"
    routerLinkActive #contacto="routerLinkActive"
    [active]="contacto.isActive">
    Contacto
    </a>
  </nav>

</div>
