<div class="navtabs-container">
   <nav mat-tab-nav-bar  mat-align-tabs="center" fxFlex fxLayout fxLayoutAlign="center center" style="background-color:#bde5ce;">
    
    <a mat-tab-link routerLink="/"
    routerLinkActive #home="routerLinkActive"
    [active]="home.isActive"> 
    Home
    </a>
    <a mat-tab-link routerLink="/login"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive"> 
    Configuraciones
    </a>
    <a mat-tab-link routerLink="/configuraciones"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive"> 
    Configuraciones
    </a>
    <a mat-tab-link routerLink="/configuraciones"
    routerLinkActive #configuraciones="routerLinkActive"
    [active]="configuraciones.isActive"> 
    Configuraciones
    </a>
  </nav>
 
</div>